<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <!-- Hoster File System configuration, required only the localFolder property -->
    <add key="hfs.default.localFolder" value="c:\temp\"/>
    <add key="hfs.customer1.localFolder" value="c:\temp\cust1\"/>
    
    <!-- Email Packager requires the following properties to be set:
    * Credentials: Username and password for the email.
    * Host: Smtp server host
    * Port: Smtp server connection port
    * EnableSSL: Wheather the smtp server requires ssl.
    * Destination: email destination.
    -->
    <add key="email.default.userName" value="my.email@gmail.com" />
    <add key="email.default.password" value="secret" />
    <add key="email.default.Host" value="smtp.gmail.com" />
    <add key="email.default.Port" value="587" />
    <add key="email.default.SSL" value="true" />
    <add key="email.default.destination" value="destination@server.com" />
    
  </appSettings>

</configuration>
